<section class="section">
    <div class="container">
      <h1 class="title column is-narrow has-text-centered">
        Hello World
      </h1>
      <p class="subtitle column is-narrow has-text-centered">
        Abilities forfeited situation extremely my to he resembled. 
        <br>
        Old had conviction discretion understood put principles you. 
      </p>
      <br>

      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Search...">
        </p>
        <p class="control">
          <a class="button is-dark">
            Search
          </a>
        </p>
      </div>
      
      
      <div class="gallery">
        <a target="_blank" href="https://media.farandwide.com/e0/b4/e0b47e158ce646cb9f9b1a6ef613a318.jpeg">
          <img src="https://media.farandwide.com/e0/b4/e0b47e158ce646cb9f9b1a6ef613a318.jpeg" alt="Cinque Terre" width="300" height="300">
        </a>
        <div class="desc">On the road!</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv8_WW72a60_0BWlrJohPBbYU7mb_OmabQEKoAis-X4oywOM4R">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv8_WW72a60_0BWlrJohPBbYU7mb_OmabQEKoAis-X4oywOM4R" alt="Forest" width="300" height="300">
        </a>
        <div class="desc">Having a good day!</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://target.scene7.com/is/image/Target/GUEST_843366a4-f884-4fcd-97ef-a84dbe17722d?wid=488&hei=488&fmt=pjpeg">
          <img src="https://target.scene7.com/is/image/Target/GUEST_843366a4-f884-4fcd-97ef-a84dbe17722d?wid=488&hei=488&fmt=pjpeg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Hmmmmm. </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/2/2a/The_Pentagon%2C_cropped_square.png">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/The_Pentagon%2C_cropped_square.png" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">I'm in.</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="https://media.farandwide.com/e0/b4/e0b47e158ce646cb9f9b1a6ef613a318.jpeg">
          <img src="https://media.farandwide.com/e0/b4/e0b47e158ce646cb9f9b1a6ef613a318.jpeg" alt="Cinque Terre" width="300" height="300">
        </a>
        <div class="desc">On the road!</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv8_WW72a60_0BWlrJohPBbYU7mb_OmabQEKoAis-X4oywOM4R">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv8_WW72a60_0BWlrJohPBbYU7mb_OmabQEKoAis-X4oywOM4R" alt="Forest" width="300" height="300">
        </a>
        <div class="desc">Having a good day!</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="https://target.scene7.com/is/image/Target/GUEST_843366a4-f884-4fcd-97ef-a84dbe17722d?wid=488&hei=488&fmt=pjpeg">
          <img src="https://target.scene7.com/is/image/Target/GUEST_843366a4-f884-4fcd-97ef-a84dbe17722d?wid=488&hei=488&fmt=pjpeg" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Hmmmmm. </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/2/2a/The_Pentagon%2C_cropped_square.png">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/The_Pentagon%2C_cropped_square.png" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">I'm in.</div>
      </div>